
<ion-view view-title="Login" >
  <ion-content class="padding login">
  <img src="../img/Sedup.jpg" alt="sedup" class="pic" />
  <div class="list">
    <label class="item item-input item-floating-label">
      <span class="input-label">Username</span>
      <input type="text" placeholder="Username">
    </label>
    <label class="item item-input item-floating-label input-positive">
      <span class="input-label">Password</span>
      <input type="text" placeholder="Password">
    </label>
  </div>
  <button class="button button-clear button-dark" ui-sref="tab.dash">Login</button>
  </ion-content>
</ion-view>
